<h1>Upload your rental request!</h1>
<form method="post" action="<%= pet_pet_rental_requests_url(@pet.id)%>" >
  <!-- <% if @pet_rental_request.persisted? %>
    <input name="_method" type="hidden" value="patch">
  <% end %>
   -->
  <input type="hidden" 
         name="authenticity_token" 
         value=<%= form_authenticity_token %>>
  <input type="hidden" 
         name="pet_rental_request[requester_id]" 
         value=<%= self.current_user.id %>>
  <input type="hidden" 
         name="pet_rental_request[pet_id]" 
         value=<%= session[:pet_id] %>>
       
  <h3>Pet: <%= Pet.find(session[:pet_id]).name %></h3>
  Start Date: 
    <input name="pet_rental_request[start_date]" class="datepicker">
      <span class="add-on">
        <i class= "glyphicon glyphicon-calendar"></i>
      </span>
    </input>
    
  End Date: 
    <input name="pet_rental_request[end_date]" class="datepicker">
      <span class="add-on">
        <i class= "glyphicon glyphicon-calendar"></i>
      </span>
    </input>
    
       <!-- script to run the calendar code-->
           <script src="js/jquery-1.9.1.min.js"></script>
           <script src="js/bootstrap-datepicker.js"></script>
           <script type="text/javascript">  
        
           //  $(function () {
        //
        //         $('.datepicker').datepicker({
        //             format: "dd/mm/yyyy"
        //         });
        //         $('.datepicker').datepicker({
        //             format: "dd/mm/yyyy"
        //         });
        //     });
        // </script>

    <input type="submit" value="Submit Rental Request">
</form>
<br>
<%=link_to "<< back to all pets", pets_url%>