
   <h1>Edit <%=pet.escape('name')%>'s profile</h1>
   <a href="#/pets/<%=pet.escape('id')%>">
     &lt&ltBack to <%=pet.escape('name')%>'s profile
   </a>

 <div id="edit-form">
   <form role="form" class="edit-pet-form">
     <label for="edit-pet-name"> Name: </label>
     <input type="text"
            name="pet[name]"
            class="edit-form-inputs"
            id="edit-pet-name"
            placeholder="name"
            value = <%= pet.escape('name') %>>
	 <br>
	 <br>
     <label for="edit-pet-age">Age: </label>
     <input type="integer"
            name="pet[age]"
            class="edit-form-inputs"
            id="edit-pet-age"
            placeholder="age"
            value= <%= pet.escape('age') %>>
	 <br>
	 <br>
	
     <label for="edit-pet-animal">Animal Type: </label>
     <select name="pet[animal]"
             id="edit-pet-animal"
             value = "<%= pet.escape('animal')%>"
			 class="edit-form-inputs">
       <option value="cat">Cat</option>
       <option value="dog">Dog</option>
       <option value="other">Other</option>
     </select>
	 <br>
	 <br>
     <label for="edit-pet-color">Color: </label>
     <select name="pet[color]"
             id="edit-pet-color"
			 class="edit-form-inputs"
             value = "<%= pet.escape('color') %>>"
       <option value="black">Black</option>
       <option value="white">White</option>
       <option value="gray">Gray</option>
       <option value="yellow">Yellow</option>
       <option value="brown">Brown</option>
       <option value="other">Other</option>
     </select>
	 <br>
	 <br>
     <strong>Gender: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</strong>
     <input type="radio"
            name="pet[gender]"
            value="Male" 
            checked="<%= pet.get('gender') == "Male"%>"> Male
     <input type="radio" 
            name="pet[gender]" 
            value="Female" 
            checked="<%= pet.get('gender') == "Female"%>"> Female
	 <br>
	 <br>
     <label for="edit-pet-address">Address: </label>
     <input type="text" 
            name="pet[address]" 
            class="edit-form-inputs" 
            id="edit-pet-address"
            placeholder="Address" 
            value = <%= pet.escape('address') %>>
    <br>
	<br>
    <label for="edit-pet-name">City: </label>
    <input type="text" 
           name="pet[city]" 
           class="edit-form-inputs" 
           id="edit-pet-city"
           placeholder="City" 
           value = <%= pet.escape('city') %>>
    <br>
	<br>
    <label for="edit-pet-name">State: </label>
    <input type="text" 
           name="pet[state]" 
           class="edit-form-inputs" 
           id="edit-pet-state"
           placeholder="State" 
           value = <%= pet.escape('state') %>>  
    <br>
	<br>
    <label for="edit-pet-name">Zipcode: </label>
    <input type="text" 
           name="pet[zipcode]" 
           class="edit-form-inputs" 
           id="edit-pet-zipcode"
           placeholder="Zipcode" value= <%= pet.escape('zipcode') %>>  
	<br>  
	<br>                
    <label for="edit-pet-bio">Bio: &nbsp &nbsp &nbsp &nbsp &nbsp</label>
	<br>
    <textarea type="text" 
              name="pet[bio]" 
              id="edit-pet-bio"><%=pet.escape('bio') %></textarea>
    <br>
    <!-- <div class="upload-images"></div> -->
   <button id="add-image">Upload Photos</button>
    <br>
    <input type="submit" 
           value="Save pet" 
           class="btn btn-primary" 
           id="edit-pet-button">
    <!-- <button value="upload file"></button> -->
    
</form>


<button class="btn btn-danger" id="delete-pet">Delete pet</button>

<div class="edit-images"></div>   


</div>


      
