<h1><%= pet.get('name') ? "Edit Your Pet" :  "Upload a new Pet" %></h1>

<div id="edit-form">
  <form role="form" class="edit-pet-form">

  <label for="edit-pet-name">Name: </label>
      <input type="text" name="pet[name]" class="edit-form-inputs" id="edit-pet-name"
      placeholder="name" value = <%= model.get('name') %>>
  <label for="edit-pet-animal">Animal Type: </label>
      <select name="pet[animal]" id="edit-pet-animal" value = <%= model.animal %>>
        <option value="cat">Cat</option>
        <option value="dog">Dog</option>
        <option value="other">Other</option>
      </select><br>
  <label for="edit-pet-age">Age: </label>
      <input type="integer" name="pet[age]" class="edit-form-inputs" id="edit-pet-age"
      placeholder="age" value = <%= model.get('age') %> >
  <label for="edit-pet-image">Picture (url): </label>
      <input type="text" name="pet[image_url]" class="edit-form-inputs" id="edit-pet-image"
       value=<%= model.get('image_url') %> size="50">
  <label for="edit-pet-color">Color: </label>
      <select name="pet[color]" id="edit-pet-color" value = <%= model.get('color') %>>
        <option value="black">Black</option>
        <option value="white">White</option>
        <option value="gray">Gray</option>
        <option value="yellow">Yellow</option>
        <option value="red">Red</option>
        <option value="polka_dot">Multicolored</option>
      </select><br>
      <br>
  Gender:
      <input type="radio" name="pet[gender]" value="Male"> Male
      <input type="radio" name="pet[gender]" value="Female"> Female<br>
      <br>
  <label for="edit-pet-bio">Bio: </label>
      <textarea type="text" name="pet[bio]" id="edit-pet-bio"><%=model.bio%></textarea>
      <br>
      <input type="submit" value="Save pet" class="btn btn-primary" id="edit-pet-button">
  </form>
  <input type="submit" value="Delete pet" class="btn btn-danger" id="delete-pet-button">
</div>