<div class="show-page"

  <div id="show-page-profile-header">
    <a href="/#" id="back-to-index" class="active">&lt&ltBack to All Pets</a>
      <img src="<%= pet.escape('image_url')%>" class="show-page-feature-photo" />

      <div class="pet-information">
        <% if (window.current_user_id == pet.escape('owner_id')) { %>
          <div>
            <a href="#/pets/<%= pet.escape('id')%>/edit">Edit Your Pet Information</a>
          </div>
        <% } %>

        <p>Pet ID: <%=pet.escape('id')%></p>
        <p>Name: <%=pet.escape('name')%></p>
        <p>Age: <%=pet.escape('age')%> years old</p>
        <p>Color: <%=pet.escape('color')%></p>
        <p>Gender: <%=pet.escape('gender')%></p>
      </div>
  </div>
  <% if (window.current_user_id != pet.escape('owner_id')) { %>
    <div class="new-rental-request"></div>
  <% } else { %>
    <div class="rental-request-list"></div>
  <% } %>
  <div class="images"></div>
</div>
