<div class="show-page">
  <div class="show-page-row row">
    <div id="show-page-column1">
      <div class="show-page-photo">

        <img src="<%= pet.escape('image_url')%>">
        <h4>Click Here to Rent me now!</4>
      </div>
      <div class="col-xs-5" id="show-page-column2">
        <% if (window.current_user_id == pet.escape('owner_id')) { %>
          <a href="pets/new">Edit Your Pet Information</a>
        <% } else { %>
          <p><strong>Pet Information</stong></p>
        <% } %>
          <p><a href="#/pets/new">Edit your pet!</a></p>
          <p>Pet ID: <%=pet.escape('id')%></p>
          <p>Name: <%=pet.escape('name')%></p>
          <p>Age: <%=pet.escape('age')%> years old</p>
          <p>Color: <%=pet.escape('color')%></p>
          <p>Gender: <%=pet.escape('gender')%></p>
      </div>
    </div>
  </div>
</div>
