<form method="post" action="/pets/<%= @pet.id %>">
  <% if @pet.persisted? %>
    <input name="_method" type="hidden" value="patch">
  <% end %>
  
  <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
  
  <!-- <input type="hidden" name="auth_key" value=<%= 3 %>> -->
  Name:
      <input type="text" name="pet[name]" class="myclass" 
      placeholder="name" value = <%= @pet.name %>>
      <br>
  Age: 
      <input type="integer" name="pet[age]" class="myclass" 
      placeholder="age" value = <%= @pet.age %> >
      <br>
      <br>
  Color: 
      <select name="pet[color]" value = <%= @pet.color %>>
        <option value="black">Black</option>
        <option value="white">White</option>
        <option value="gray">Gray</option>
        <option value="yellow">Yellow</option>
        <option value="red">Red</option>
        <option value="polka_dot">Multicolored</option>
      </select><br>
      <br>
  gender: 
      <input type="radio" name="pet[gender]" value="Male">Male
      <input type="radio" name="pet[gender]" value="Female">Female<br>
      <br>
  Picture (url):
      <input type="text" name="pet[image_url]" class="myclass" 
      placeholder="default image" value=<%= session[:pet_img_url] %> size="50">
      <br>  
      <br>
      <input type="submit" value="Save pet">
</form>
<br>