
<td><%= model.requester().get('username') %></td>
<td><%= model.escape('requester_id') %></td>
<td><%= model.escape('start_date') %></td>
<td><%= model.escape('end_date') %></td>

<% if (model.escape('status') === "Pending") { %>
  <td>
    <form id="approve-request">
      <input type="hidden" name="pet_rental_request[status]" value="Approve">
      <button type="submit" class="btn btn-success" role="button" id="approve-request-button">Approve</button>
    </form>
    <form id="deny-request">
      <input type="hidden" name="pet_rental_request[status]" value="Deny">
      <button type="submit" class="btn btn-danger" role="button" id="deny-request-button">Deny</button>
    </form>
  </td>
<% } else { %>
    <td><%= model.escape('status') %></td>
<% } %>

  